/*! jQuery UI - v1.11.4 - 2016-05-03
* http://jqueryui.com
* Includes: core.css, accordion.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Arial%2CHelvetica%2Csans-serif&fsDefault=1em&fwDefault=normal&cornerRadius=0&bgColorHeader=%23e9e9e9&bgTextureHeader=flat&borderColorHeader=%23dddddd&fcHeader=%23333333&iconColorHeader=%23444444&bgColorContent=%23ffffff&bgTextureContent=flat&borderColorContent=%23dddddd&fcContent=%23333333&iconColorContent=%23444444&bgColorDefault=%23f6f6f6&bgTextureDefault=flat&borderColorDefault=%23c5c5c5&fcDefault=%23454545&iconColorDefault=%23777777&bgColorHover=%23f6f6f6&bgTextureHover=flat&borderColorHover=%23999&fcHover=%232b2b2b&iconColorHover=%23555555&bgColorActive=%23f6f6f6&bgTextureActive=flat&borderColorActive=%23999&fcActive=%23333333&iconColorActive=%23333333&bgColorHighlight=%23fffa90&bgTextureHighlight=flat&borderColorHighlight=%23dad55e&fcHighlight=%23777620&iconColorHighlight=%23777620&bgColorError=%23fddfdf&bgTextureError=flat&borderColorError=%23f1a899&fcError=%235f3f3f&iconColorError=%23cc0000&bgColorOverlay=%23aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=%23666666&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=5px&offsetTopShadow=0px&offsetLeftShadow=0px&cornerRadiusShadow=8px&bgImgOpacityHeader=&bgImgOpacityContent=&bgImgOpacityDefault=&bgImgOpacityHover=&bgImgOpacityActive=&bgImgOpacityHighlight=&bgImgOpacityError=
* Copyright jQuery Foundation and other contributors; Licensed MIT */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }

.ui-helper-hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }

.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; border-collapse: collapse; }

.ui-helper-clearfix:after { clear: both; }

.ui-helper-clearfix { min-height: 0; /* support: IE7 */ }

.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter: Alpha(Opacity=0); /* support: IE8 */ }

.ui-front { z-index: 100; }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }

/* Icons
----------------------------------*/
/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }

.ui-accordion .ui-accordion-header { display: block; cursor: pointer; position: relative; margin: 2px 0 0 0; padding: .5em .5em .5em .7em; min-height: 0; /* support: IE7 */ font-size: 100%; }

.ui-accordion .ui-accordion-icons { padding-left: 2.2em; }

.ui-accordion .ui-accordion-icons .ui-accordion-icons { padding-left: 2.2em; }

.ui-accordion .ui-accordion-header .ui-accordion-header-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }

.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; overflow: auto; }

/* Component containers
----------------------------------*/
.wp-emfluence .ui-widget { font-family: Arial,Helvetica,sans-serif; font-size: 1em; }

.wp-emfluence .ui-widget .ui-widget { font-size: 1em; }

.wp-emfluence .ui-widget input, .wp-emfluence .ui-widget select, .wp-emfluence .ui-widget textarea, .wp-emfluence .ui-widget button { font-family: Arial,Helvetica,sans-serif; font-size: 1em; }

.wp-emfluence .ui-widget-content { border: 1px solid #dddddd; background: #ffffff; color: #333333; }

.wp-emfluence .ui-widget-content a { color: #333333; }

.wp-emfluence .ui-widget-header { border: 1px solid #dddddd; background: #e9e9e9; color: #333333; font-weight: bold; }

.wp-emfluence .ui-widget-header a { color: #333333; }

/* Interaction states
----------------------------------*/
.wp-emfluence .ui-state-default, .wp-emfluence .ui-widget-content .ui-state-default, .wp-emfluence .ui-widget-header .ui-state-default { border: 1px solid #c5c5c5; background: #f6f6f6; font-weight: normal; color: #454545; }

.wp-emfluence .ui-state-default a, .wp-emfluence .ui-state-default a:link, .wp-emfluence .ui-state-default a:visited { color: #454545; text-decoration: none; }

.wp-emfluence .ui-state-hover, .wp-emfluence .ui-widget-content .ui-state-hover, .wp-emfluence .ui-widget-header .ui-state-hover, .wp-emfluence .ui-state-focus, .wp-emfluence .ui-widget-content .ui-state-focus, .wp-emfluence .ui-widget-header .ui-state-focus { border: 1px solid #999; background: #f6f6f6; font-weight: normal; color: #2b2b2b; }

.wp-emfluence .ui-state-hover a, .wp-emfluence .ui-state-hover a:hover, .wp-emfluence .ui-state-hover a:link, .wp-emfluence .ui-state-hover a:visited, .wp-emfluence .ui-state-focus a, .wp-emfluence .ui-state-focus a:hover, .wp-emfluence .ui-state-focus a:link, .wp-emfluence .ui-state-focus a:visited { color: #2b2b2b; text-decoration: none; }

.wp-emfluence .ui-state-active, .wp-emfluence .ui-widget-content .ui-state-active, .wp-emfluence .ui-widget-header .ui-state-active { border: 1px solid #999; background: #f6f6f6; font-weight: normal; color: #333333; }

.wp-emfluence .ui-state-active a, .wp-emfluence .ui-state-active a:link, .wp-emfluence .ui-state-active a:visited { color: #333333; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.wp-emfluence .ui-state-highlight, .wp-emfluence .ui-widget-content .ui-state-highlight, .wp-emfluence .ui-widget-header .ui-state-highlight { border: 1px solid #dad55e; background: #fffa90; color: #777620; }

.wp-emfluence .ui-state-highlight a, .wp-emfluence .ui-widget-content .ui-state-highlight a, .wp-emfluence .ui-widget-header .ui-state-highlight a { color: #777620; }

.wp-emfluence .ui-state-error, .wp-emfluence .ui-widget-content .ui-state-error, .wp-emfluence .ui-widget-header .ui-state-error { border: 1px solid #f1a899; background: #fddfdf; color: #5f3f3f; }

.wp-emfluence .ui-state-error a, .wp-emfluence .ui-widget-content .ui-state-error a, .wp-emfluence .ui-widget-header .ui-state-error a { color: #5f3f3f; }

.wp-emfluence .ui-state-error-text, .wp-emfluence .ui-widget-content .ui-state-error-text, .wp-emfluence .ui-widget-header .ui-state-error-text { color: #5f3f3f; }

.wp-emfluence .ui-priority-primary, .wp-emfluence .ui-widget-content .ui-priority-primary, .wp-emfluence .ui-widget-header .ui-priority-primary { font-weight: bold; }

.wp-emfluence .ui-priority-secondary, .wp-emfluence .ui-widget-content .ui-priority-secondary, .wp-emfluence .ui-widget-header .ui-priority-secondary { opacity: .7; filter: Alpha(Opacity=70); /* support: IE8 */ font-weight: normal; }

.wp-emfluence .ui-state-disabled, .wp-emfluence .ui-widget-content .ui-state-disabled, .wp-emfluence .ui-widget-header .ui-state-disabled { opacity: .35; filter: Alpha(Opacity=35); /* support: IE8 */ background-image: none; }

.wp-emfluence .ui-state-disabled .ui-icon { filter: Alpha(Opacity=35); /* support: IE8 - See #6059 */ }

/* Icons
----------------------------------*/
/* states and images */
.wp-emfluence .ui-icon { width: 16px; height: 16px; }

.wp-emfluence .ui-icon, .wp-emfluence .ui-widget-content .ui-icon { background-image: url("images/ui-icons_444444_256x240.png"); }

.wp-emfluence .ui-widget-header .ui-icon { background-image: url("images/ui-icons_444444_256x240.png"); }

.wp-emfluence .ui-state-default .ui-icon { background-image: url("images/ui-icons_777777_256x240.png"); }

.wp-emfluence .ui-state-hover .ui-icon, .wp-emfluence .ui-state-focus .ui-icon { background-image: url("images/ui-icons_555555_256x240.png"); }

.wp-emfluence .ui-state-active .ui-icon { background-image: url("images/ui-icons_333333_256x240.png"); }

.wp-emfluence .ui-state-highlight .ui-icon { background-image: url("images/ui-icons_777620_256x240.png"); }

.wp-emfluence .ui-state-error .ui-icon, .wp-emfluence .ui-state-error-text .ui-icon { background-image: url("images/ui-icons_cc0000_256x240.png"); }

/* positioning */
.wp-emfluence .ui-icon-blank { background-position: 16px 16px; }

.wp-emfluence .ui-icon-carat-1-n { background-position: 0 0; }

.wp-emfluence .ui-icon-carat-1-ne { background-position: -16px 0; }

.wp-emfluence .ui-icon-carat-1-e { background-position: -32px 0; }

.wp-emfluence .ui-icon-carat-1-se { background-position: -48px 0; }

.wp-emfluence .ui-icon-carat-1-s { background-position: -64px 0; }

.wp-emfluence .ui-icon-carat-1-sw { background-position: -80px 0; }

.wp-emfluence .ui-icon-carat-1-w { background-position: -96px 0; }

.wp-emfluence .ui-icon-carat-1-nw { background-position: -112px 0; }

.wp-emfluence .ui-icon-carat-2-n-s { background-position: -128px 0; }

.wp-emfluence .ui-icon-carat-2-e-w { background-position: -144px 0; }

.wp-emfluence .ui-icon-triangle-1-n { background-position: 0 -16px; }

.wp-emfluence .ui-icon-triangle-1-ne { background-position: -16px -16px; }

.wp-emfluence .ui-icon-triangle-1-e { background-position: -32px -16px; }

.wp-emfluence .ui-icon-triangle-1-se { background-position: -48px -16px; }

.wp-emfluence .ui-icon-triangle-1-s { background-position: -64px -16px; }

.wp-emfluence .ui-icon-triangle-1-sw { background-position: -80px -16px; }

.wp-emfluence .ui-icon-triangle-1-w { background-position: -96px -16px; }

.wp-emfluence .ui-icon-triangle-1-nw { background-position: -112px -16px; }

.wp-emfluence .ui-icon-triangle-2-n-s { background-position: -128px -16px; }

.wp-emfluence .ui-icon-triangle-2-e-w { background-position: -144px -16px; }

.wp-emfluence .ui-icon-arrow-1-n { background-position: 0 -32px; }

.wp-emfluence .ui-icon-arrow-1-ne { background-position: -16px -32px; }

.wp-emfluence .ui-icon-arrow-1-e { background-position: -32px -32px; }

.wp-emfluence .ui-icon-arrow-1-se { background-position: -48px -32px; }

.wp-emfluence .ui-icon-arrow-1-s { background-position: -64px -32px; }

.wp-emfluence .ui-icon-arrow-1-sw { background-position: -80px -32px; }

.wp-emfluence .ui-icon-arrow-1-w { background-position: -96px -32px; }

.wp-emfluence .ui-icon-arrow-1-nw { background-position: -112px -32px; }

.wp-emfluence .ui-icon-arrow-2-n-s { background-position: -128px -32px; }

.wp-emfluence .ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }

.wp-emfluence .ui-icon-arrow-2-e-w { background-position: -160px -32px; }

.wp-emfluence .ui-icon-arrow-2-se-nw { background-position: -176px -32px; }

.wp-emfluence .ui-icon-arrowstop-1-n { background-position: -192px -32px; }

.wp-emfluence .ui-icon-arrowstop-1-e { background-position: -208px -32px; }

.wp-emfluence .ui-icon-arrowstop-1-s { background-position: -224px -32px; }

.wp-emfluence .ui-icon-arrowstop-1-w { background-position: -240px -32px; }

.wp-emfluence .ui-icon-arrowthick-1-n { background-position: 0 -48px; }

.wp-emfluence .ui-icon-arrowthick-1-ne { background-position: -16px -48px; }

.wp-emfluence .ui-icon-arrowthick-1-e { background-position: -32px -48px; }

.wp-emfluence .ui-icon-arrowthick-1-se { background-position: -48px -48px; }

.wp-emfluence .ui-icon-arrowthick-1-s { background-position: -64px -48px; }

.wp-emfluence .ui-icon-arrowthick-1-sw { background-position: -80px -48px; }

.wp-emfluence .ui-icon-arrowthick-1-w { background-position: -96px -48px; }

.wp-emfluence .ui-icon-arrowthick-1-nw { background-position: -112px -48px; }

.wp-emfluence .ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }

.wp-emfluence .ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }

.wp-emfluence .ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }

.wp-emfluence .ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }

.wp-emfluence .ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }

.wp-emfluence .ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }

.wp-emfluence .ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }

.wp-emfluence .ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }

.wp-emfluence .ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }

.wp-emfluence .ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }

.wp-emfluence .ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }

.wp-emfluence .ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }

.wp-emfluence .ui-icon-arrowreturn-1-w { background-position: -64px -64px; }

.wp-emfluence .ui-icon-arrowreturn-1-n { background-position: -80px -64px; }

.wp-emfluence .ui-icon-arrowreturn-1-e { background-position: -96px -64px; }

.wp-emfluence .ui-icon-arrowreturn-1-s { background-position: -112px -64px; }

.wp-emfluence .ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }

.wp-emfluence .ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }

.wp-emfluence .ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }

.wp-emfluence .ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }

.wp-emfluence .ui-icon-arrow-4 { background-position: 0 -80px; }

.wp-emfluence .ui-icon-arrow-4-diag { background-position: -16px -80px; }

.wp-emfluence .ui-icon-extlink { background-position: -32px -80px; }

.wp-emfluence .ui-icon-newwin { background-position: -48px -80px; }

.wp-emfluence .ui-icon-refresh { background-position: -64px -80px; }

.wp-emfluence .ui-icon-shuffle { background-position: -80px -80px; }

.wp-emfluence .ui-icon-transfer-e-w { background-position: -96px -80px; }

.wp-emfluence .ui-icon-transferthick-e-w { background-position: -112px -80px; }

.wp-emfluence .ui-icon-folder-collapsed { background-position: 0 -96px; }

.wp-emfluence .ui-icon-folder-open { background-position: -16px -96px; }

.wp-emfluence .ui-icon-document { background-position: -32px -96px; }

.wp-emfluence .ui-icon-document-b { background-position: -48px -96px; }

.wp-emfluence .ui-icon-note { background-position: -64px -96px; }

.wp-emfluence .ui-icon-mail-closed { background-position: -80px -96px; }

.wp-emfluence .ui-icon-mail-open { background-position: -96px -96px; }

.wp-emfluence .ui-icon-suitcase { background-position: -112px -96px; }

.wp-emfluence .ui-icon-comment { background-position: -128px -96px; }

.wp-emfluence .ui-icon-person { background-position: -144px -96px; }

.wp-emfluence .ui-icon-print { background-position: -160px -96px; }

.wp-emfluence .ui-icon-trash { background-position: -176px -96px; }

.wp-emfluence .ui-icon-locked { background-position: -192px -96px; }

.wp-emfluence .ui-icon-unlocked { background-position: -208px -96px; }

.wp-emfluence .ui-icon-bookmark { background-position: -224px -96px; }

.wp-emfluence .ui-icon-tag { background-position: -240px -96px; }

.wp-emfluence .ui-icon-home { background-position: 0 -112px; }

.wp-emfluence .ui-icon-flag { background-position: -16px -112px; }

.wp-emfluence .ui-icon-calendar { background-position: -32px -112px; }

.wp-emfluence .ui-icon-cart { background-position: -48px -112px; }

.wp-emfluence .ui-icon-pencil { background-position: -64px -112px; }

.wp-emfluence .ui-icon-clock { background-position: -80px -112px; }

.wp-emfluence .ui-icon-disk { background-position: -96px -112px; }

.wp-emfluence .ui-icon-calculator { background-position: -112px -112px; }

.wp-emfluence .ui-icon-zoomin { background-position: -128px -112px; }

.wp-emfluence .ui-icon-zoomout { background-position: -144px -112px; }

.wp-emfluence .ui-icon-search { background-position: -160px -112px; }

.wp-emfluence .ui-icon-wrench { background-position: -176px -112px; }

.wp-emfluence .ui-icon-gear { background-position: -192px -112px; }

.wp-emfluence .ui-icon-heart { background-position: -208px -112px; }

.wp-emfluence .ui-icon-star { background-position: -224px -112px; }

.wp-emfluence .ui-icon-link { background-position: -240px -112px; }

.wp-emfluence .ui-icon-cancel { background-position: 0 -128px; }

.wp-emfluence .ui-icon-plus { background-position: -16px -128px; }

.wp-emfluence .ui-icon-plusthick { background-position: -32px -128px; }

.wp-emfluence .ui-icon-minus { background-position: -48px -128px; }

.wp-emfluence .ui-icon-minusthick { background-position: -64px -128px; }

.wp-emfluence .ui-icon-close { background-position: -80px -128px; }

.wp-emfluence .ui-icon-closethick { background-position: -96px -128px; }

.wp-emfluence .ui-icon-key { background-position: -112px -128px; }

.wp-emfluence .ui-icon-lightbulb { background-position: -128px -128px; }

.wp-emfluence .ui-icon-scissors { background-position: -144px -128px; }

.wp-emfluence .ui-icon-clipboard { background-position: -160px -128px; }

.wp-emfluence .ui-icon-copy { background-position: -176px -128px; }

.wp-emfluence .ui-icon-contact { background-position: -192px -128px; }

.wp-emfluence .ui-icon-image { background-position: -208px -128px; }

.wp-emfluence .ui-icon-video { background-position: -224px -128px; }

.wp-emfluence .ui-icon-script { background-position: -240px -128px; }

.wp-emfluence .ui-icon-alert { background-position: 0 -144px; }

.wp-emfluence .ui-icon-info { background-position: -16px -144px; }

.wp-emfluence .ui-icon-notice { background-position: -32px -144px; }

.wp-emfluence .ui-icon-help { background-position: -48px -144px; }

.wp-emfluence .ui-icon-check { background-position: -64px -144px; }

.wp-emfluence .ui-icon-bullet { background-position: -80px -144px; }

.wp-emfluence .ui-icon-radio-on { background-position: -96px -144px; }

.wp-emfluence .ui-icon-radio-off { background-position: -112px -144px; }

.wp-emfluence .ui-icon-pin-w { background-position: -128px -144px; }

.wp-emfluence .ui-icon-pin-s { background-position: -144px -144px; }

.wp-emfluence .ui-icon-play { background-position: 0 -160px; }

.wp-emfluence .ui-icon-pause { background-position: -16px -160px; }

.wp-emfluence .ui-icon-seek-next { background-position: -32px -160px; }

.wp-emfluence .ui-icon-seek-prev { background-position: -48px -160px; }

.wp-emfluence .ui-icon-seek-end { background-position: -64px -160px; }

.wp-emfluence .ui-icon-seek-start { background-position: -80px -160px; }

/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.wp-emfluence .ui-icon-seek-first { background-position: -80px -160px; }

.wp-emfluence .ui-icon-stop { background-position: -96px -160px; }

.wp-emfluence .ui-icon-eject { background-position: -112px -160px; }

.wp-emfluence .ui-icon-volume-off { background-position: -128px -160px; }

.wp-emfluence .ui-icon-volume-on { background-position: -144px -160px; }

.wp-emfluence .ui-icon-power { background-position: 0 -176px; }

.wp-emfluence .ui-icon-signal-diag { background-position: -16px -176px; }

.wp-emfluence .ui-icon-signal { background-position: -32px -176px; }

.wp-emfluence .ui-icon-battery-0 { background-position: -48px -176px; }

.wp-emfluence .ui-icon-battery-1 { background-position: -64px -176px; }

.wp-emfluence .ui-icon-battery-2 { background-position: -80px -176px; }

.wp-emfluence .ui-icon-battery-3 { background-position: -96px -176px; }

.wp-emfluence .ui-icon-circle-plus { background-position: 0 -192px; }

.wp-emfluence .ui-icon-circle-minus { background-position: -16px -192px; }

.wp-emfluence .ui-icon-circle-close { background-position: -32px -192px; }

.wp-emfluence .ui-icon-circle-triangle-e { background-position: -48px -192px; }

.wp-emfluence .ui-icon-circle-triangle-s { background-position: -64px -192px; }

.wp-emfluence .ui-icon-circle-triangle-w { background-position: -80px -192px; }

.wp-emfluence .ui-icon-circle-triangle-n { background-position: -96px -192px; }

.wp-emfluence .ui-icon-circle-arrow-e { background-position: -112px -192px; }

.wp-emfluence .ui-icon-circle-arrow-s { background-position: -128px -192px; }

.wp-emfluence .ui-icon-circle-arrow-w { background-position: -144px -192px; }

.wp-emfluence .ui-icon-circle-arrow-n { background-position: -160px -192px; }

.wp-emfluence .ui-icon-circle-zoomin { background-position: -176px -192px; }

.wp-emfluence .ui-icon-circle-zoomout { background-position: -192px -192px; }

.wp-emfluence .ui-icon-circle-check { background-position: -208px -192px; }

.wp-emfluence .ui-icon-circlesmall-plus { background-position: 0 -208px; }

.wp-emfluence .ui-icon-circlesmall-minus { background-position: -16px -208px; }

.wp-emfluence .ui-icon-circlesmall-close { background-position: -32px -208px; }

.wp-emfluence .ui-icon-squaresmall-plus { background-position: -48px -208px; }

.wp-emfluence .ui-icon-squaresmall-minus { background-position: -64px -208px; }

.wp-emfluence .ui-icon-squaresmall-close { background-position: -80px -208px; }

.wp-emfluence .ui-icon-grip-dotted-vertical { background-position: 0 -224px; }

.wp-emfluence .ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }

.wp-emfluence .ui-icon-grip-solid-vertical { background-position: -32px -224px; }

.wp-emfluence .ui-icon-grip-solid-horizontal { background-position: -48px -224px; }

.wp-emfluence .ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }

.wp-emfluence .ui-icon-grip-diagonal-se { background-position: -80px -224px; }

/* Misc visuals
----------------------------------*/
/* Corner radius */
.wp-emfluence .ui-corner-all, .wp-emfluence .ui-corner-top, .wp-emfluence .ui-corner-left, .wp-emfluence .ui-corner-tl { border-top-left-radius: 0; }

.wp-emfluence .ui-corner-all, .wp-emfluence .ui-corner-top, .wp-emfluence .ui-corner-right, .wp-emfluence .ui-corner-tr { border-top-right-radius: 0; }

.wp-emfluence .ui-corner-all, .wp-emfluence .ui-corner-bottom, .wp-emfluence .ui-corner-left, .wp-emfluence .ui-corner-bl { border-bottom-left-radius: 0; }

.wp-emfluence .ui-corner-all, .wp-emfluence .ui-corner-bottom, .wp-emfluence .ui-corner-right, .wp-emfluence .ui-corner-br { border-bottom-right-radius: 0; }

/* Overlays */
.wp-emfluence .ui-widget-overlay { background: #aaaaaa; opacity: .3; filter: Alpha(Opacity=30); /* support: IE8 */ }

.wp-emfluence .ui-widget-shadow { margin: 0px 0 0 0px; padding: 5px; background: #666666; opacity: .3; filter: Alpha(Opacity=30); /* support: IE8 */ border-radius: 8px; }

.wp-emfluence { padding: 10px 0; }
.wp-emfluence .contact-field { border-top: solid 1px #aaa; padding: 5px 0 10px; }
.wp-emfluence p.heading label { padding-right: 10px; display: inline-block; }
.wp-emfluence label.heading { font-weight: 600; font-size: 1rem; }

/*# sourceMappingURL=widget-settings.css.map */
